body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
    list-style: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;   
    align-items: center; 
}
address {
    font-style: normal;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
  }
.header-navigation {
    display: flex;
  align-items: center;
 } 
.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
  margin-right: 76px; 
  display: flex;
}
.logo-part {
    color: #2E2F42; 
}  
.nav-list {
    display: flex;
    gap: 40px;
} 
.nav-link { 
    color: #2E2F42; 
    font-size: 16px; 
    font-weight: 500; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    display: block; 
    padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
} 
.nav-link:hover, .nav-link:focus { 
    color: #404BBF; 
}
.address { 
    font-style: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
} 
.address-list {
    display: flex;
    gap: 40px;
}
.address-link { 
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color: #434455 ;
    /* display: flex;
    gap: 40px; */
}
.address-link:hover, .address-link:focus { 
    color: #404BBF; 
}
.slogan {
    background-color: #2E2F42;
    width: 1440px;
    padding-left: 472px;
    padding-top: 188px;
    padding-bottom: 188px;
    align-items: center;
}
.slogan-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07 ;
    letter-spacing: 0.02em ;
    text-align: center ;
    color: #FFFFFF;
    max-width: 496px;
    padding-bottom: 56px;
}
.slogan-bt {
    background-color: #4D5AE5 ;
    font-weight: 500 ;
    line-height: 1.5 ;
    letter-spacing: 0.04em ;
    color: #ffffff ;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin-left: 164px;
}
.slogan-bt:hover, .slogan-bt:focus {
    background-color: #404BBF;
}
.features {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list {
    display: flex;
    gap: 24px;
    /* padding-left: 18px; */
    /* padding-right: 18px; */
  }
.features-item {
    width: calc((100% - 3 * 24px) / 4);
}
.features-title {
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-title-prf {
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color: #434455 ;
}
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
    margin-bottom: 72px;
    font-size: 36px ;
    line-height: 1.11 ;
    text-align: center ;
    letter-spacing: 0.02em ;
    text-transform: capitalize ;
    color: #2e2f42 ;
}
.team-list {
    display: flex;
    gap: 24px;
    /* padding-left: 18px; */
    /* padding-right: 18px; */
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-container {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-name {
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-name-prf {
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color: #434455 ;
    text-align: center;
}
.portfolio {
    padding-top: 120px; 
    padding-bottom: 120px; 
}
.portfolio-title {
    font-size: 36px ;
    line-height: 1.11 ;
    text-align: center ;
    letter-spacing: 0.02em ;
    text-transform: capitalize ;
    color: #2e2f42 ;
    margin-bottom: 72px; 
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}
.portfolio-item {
    width: calc((100% - 48px) / 3); 
}
.portfolio-container {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc; 
    border-top: none; 
}
.portfolio-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    color: #2E2F42;
    margin-bottom: 8px
  }
.portfolio-title-prof {
    line-height: 1.5 ;
    font-size: 16px;
    letter-spacing: 0.02em ;
    color: #434455;
}
.footer {
        background-color: #2E2F42;
        /* padding-top: 188px; */
        /* padding-bottom: 188px; */
        padding-top: 100px;
        padding-bottom: 100px;
}
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-part {
   color: #f4f4fd ;
}
.footer-par {
    color: #f4f4fd ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    max-width: 264px;
}
